<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres_password</property>

        <property name="hibernate.connection.url">jdbc:postgresql://localhost/eyemazedb</property>

        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <property name="show_sql">true</property>

        <mapping class="eyemazev20.Models.orm.PastGame"></mapping>
        <mapping class="eyemazev20.Models.orm.MazeOrm"></mapping>
        <mapping class="eyemazev20.Models.orm.User"></mapping>
        <mapping class="eyemazev20.Models.orm.GlobalMessage"></mapping>
    </session-factory>
</hibernate-configuration>