<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>COMMUNITY STUFF!</h1>
    <br>
    <a href="/global-chat">global chat</a>
    <br>
    <hr><br>
    <h3>Community Custom Mazes:</h3>
    <ul th:each="maze : ${mazes}">
        <li th:id="${maze.id}">Maze: <a th:text="${maze.name}" th:href="'/mkmaze/' + ${maze.name}"></a>,
            created by: <b th:text="${maze.creator}"></b> </li>
    </ul>
</body>
<style>
    h1 {
        text-align: center;
    }
</style>

</html>