<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="pastGames" th:content="${pastGames}">
    <script type="module" th:src="@{/scripts/pages/history.js}"></script>
    <title>Document</title>
</head>

<body>
    <h1>HISTORY</h1>
    <h3 th:text="'Total matches: ' + ${#lists.size(pastGames)}"></h3><br>
    <ul></ul>
</body>
<style>
    li {
        padding-bottom: 15px;
    }
    a::after, a::before, a {
        text-decoration: none;
        font-size: larger;
    }
</style>

</html>