<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:replace="frags :: header"></div>
    <h1>EYE MAZE</h1>
    <p>WELCOME TO THE MAZE!</p>
    <p>
        New here? Try <a target="blank" href="https://stanaandrei.github.io/eye-maze">this</a> singleplayer demo!
    </p>
    <p>
        If you want to learn how to play without using the eyes(but with mouse) add '?debug' to the above link!
    </p>
</body>
<style>
    h1 {
        color: grey;
        text-align: center;
        text-decoration: underline;
        font-size: medium;
    }
</style>
</html>