<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" th:src="@{/scripts/pages/login.js}"></script>
    <title>Document</title>
</head>

<body th:attr="onload='{\''+${session.loginUUID}+ '\' !== `null` ? window.location.assign(`/`) : {}}'">
    <h2>LOGIN</h2>
    <form>
        <input id="email" type="email" placeholder="email" autofocus>
        <br>
        <input id="password" type="password" placeholder="password">
        <br><br>
        <input type="submit" value="login">
    </form>
    <i>No account! No problemo register <a href="/register">here</a>!</i>
</body>
<style>
    h2 {
        text-align: left;
    }
</style>
</html>