<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Document</title>
</head>

<body onload="sessionStorage.loginUUID ? window.location.assign('/') : {}">
    <h2>LOGIN</h2>
    <form>
        <input id="email" type="email" placeholder="email" autofocus>
        <br>
        <input id="password" type="password" placeholder="password">
        <br><br>
        <input type="submit" value="login">
    </form>
</body>
<style>
    h2 {
        text-align: left;
    }
</style>
<script>
    document.querySelector('form').addEventListener('submit', e => {
        e.preventDefault();
        let o = {
            email: $('#email').val(),
            password: $('#password').val()
        };
        fetch('/api/login', {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(o)
        }).then(response => response.json())
            .then(data => {
                if (data.status === 500) {
                    alert('wrong login data!');
                    return;
                }
                sessionStorage.loginUUID = data;
                window.location.reload();
            }).catch((error) => {
                alert('smth went wrong on server!');
                console.error('Error:', error);
            });

        /*
        $.post("/api/login",
            {
                email: $('#email').val(),
                password: $('#password').val()
            },
            function (data, status) {
                alert("Data: " + data + "\nStatus: " + status);
            }
        );//*/
    })
</script>

</html>