<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" th:src="@{/scripts/pages/mkroom.js}"></script>

    <title>Document</title>
</head>
<body>
    <h4>MAZE SETTINGS:</h4><br>
    <form>
        <label for="">size(3-50)</label><br>
        <input placeholder="lines" id="lines" type="number" min="3" max="50" value="3"><br>
        <input placeholder="cols" id="cols" type="number" min="3" max="50" value="3"><br>
        <input type="submit" value="generate">
    </form><br>or<hr>

    <button id="def">generate random maze with default settings</button>
    <p>or...</p>
    <button id="imp">import a custom/pc-generated maze</button>
</body>
</html>