<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <button id="create-btn">CREATE ROOM!</button>
    <hr>
    <button id="join-btn">JOIN!</button>
</body>
<script>
    $('#create-btn').click(async event => {
        event.preventDefault();
        const res = await fetch("/api/create-room", {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'same-origin'
        });
        const data = await res.json();
        if (data.status > 300) {
            alert('smth went wrong!');
            return;
        }
        window.location.assign(`/room/${data}`);        
    })

    $('#join-btn').click(async event => {
        event.preventDefault();
        const uuid = prompt(`Room's code:`);
        if (!uuid) {
            return;
        }
        const res = await fetch(`/api/join-room/${uuid}`, {
            method: 'PUT',
            cache: 'no-cache',
            credentials: 'same-origin'
        });
        if (res.status === 200) {
            window.location.assign(`/room/${uuid}`);
        } else {
            alert('lobby is full!');
        }
    })
</script>

</html>