<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" th:src="@{/scripts/pages/play.js}"></script>
</head>

<body>
    <button id="create-btn">CREATE LOBBY!</button>
    <br><br>
    <button id="join-btn">JOIN!</button>
    <br><br>
    <button onclick="window.location.assign('/rooms')">room browser</button>
    <br><br>
    <hr>
    <!--<button style="display: none;" id="join-curr">return to your current lobby/game</button>-->
</body>
<script>
    
</script>

</html>