<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <form action="">
        <input id="username" type="text" placeholder="username" autofocus>
        <br>
        <input id="email" type="email" placeholder="email">
        <br>
        <input id="password" type="password" placeholder="password">
        <br>
        <input id="conf-password" type="password" placeholder="confirm password">
        <br><br>
        <input type="submit" value="register">
    </form>
    <i>after this you'll be redirected to login</i>
</body>
<script>
    $('form').submit(e => {
        e.preventDefault();
        console.log($('#password').val());
        if ($('#password').val() !== $('#conf-password').val()) {
            alert('passwords do not match!');
            return;
        }
        const o = {
            email: $('#email').val(),
            username: $('#username').val(),
            password: $('#password').val(),
        };
        fetch('/api/register', {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(o)
        }).then(response => response.json()).then(data => {
            if (data.status === 500) {
                alert('invalid register data!');
                return;
            }
            window.location.assign('/login');
        }).catch(err => {
            console.error(err);
            alert('smth went wrong on server!');
        })
    })
</script>

</html>